PAGE1; HOME PAGE =

//MOBILE

//navigation bar
.container {
  width: 100%;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: -20px;
  padding-right: 0px;
}

nav {
  float:right;
}

header::after {
  content: '' ;
  display: table;
  clear: both;
}

nav ul {
  margin:0;
  padding: 0;
  list-style: none;
  padding-top: 1.8cm;
  padding-right: 200px;
}

nav li {
 display: inline-block;
 margin-left: 10px;
 padding-right: 80px;
 font-size: 30px;
position: relative;

}

nav a {
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Abel',sans-serif;
}

nav a:hover{
  color: goldenrod
}

nav a::before {
  content: '' ;
  display: table;
  height: 5px;
  width:100%;
  background-color: grey;
  position: absolute;
  top:0;
  width:0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 44%;
 
}
//end of navigation bar

.social li {
  display: inline-block;
  list-style: none;
}

.box1 {
  padding-left: 36%;
  padding-top: 0.5%;
}

//SEARCH BAR

.tb
{
    display: table;
    width: 60%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
    width: 60%;
}

input, button
{
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    
}

#cover
{
    position: absolute;
    top: 11%;
    left: 74%;
    right: 0;
    width: 450px;
    padding: 35px;
    margin: -83px auto 0 auto;
    background-color: rgb(228, 178, 51);
    border-radius: 30px;
    transform: scale(0.24);
    
}

input[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
    font-family: 'Abel', cursive;
    color: white;
}

input[type="text"]::placeholder
{
    color: white;
    font-family: 'Abel', cursive;
    font-size: 1.8cm;
}

#s-cover
{
    width: 1px;
    padding-left: 100px;
}

button
{
    position: relative;
    display: block;
    width: 60px;
    height: 70px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}

//END OF SEARCH

//FOOTER//

.footer-links.inline li
{
  display: inline-flex;
  padding-left: 10cm;

}
.main-footer .social-icons
{
  text-align:right;
 
}
.main-footer .social-icons a
{
  width:50px;
  height:50px;
  line-height:40px;
  margin-left:0cm;
  margin-right:0%;
  border-radius:100%;
  background-color:#33353d;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .main-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .main-footer
  {
    padding-bottom:0
  }
  .main-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding: left 0;;
  margin-bottom:0%;
  margin-right: 42%;
  
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:rgb(122, 53, 131);;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.youtube:hover
{
  background-color: rgb(143, 10, 10)
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
}
.social-icons a.instagram:hover
{
  background-color: rgb(87, 35, 94);
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


//END OF FOOTER//


-------------------------------------------------------------------------------
PAGE 2: RECIPES//


------------------------------------------------------------------
PAGE 3: CONTACT US//

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin-left: 0px; 
	padding: 0px; 
  box-sizing: border-box;
}

body, html {
  height: 100%;
	font-family: 'Abel', sans-serif;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: black !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-contact2 {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
 
}

.container-contact2 {
  width: 98%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff12ccc;
  background: -webkit-linear-gradient(45deg, rgba(245, 242, 67, 0.8), rgba(241, 209, 22, 0.8));
  background: -o-linear-gradient(45deg, rgba(240, 237, 82, 0.8), rgba(250, 149, 34, 0.8));
  background: -moz-linear-gradient(45deg, rgba(241, 232, 147, 0.8), rgba(252, 221, 84, 0.8));
  background: linear-gradient(45deg, rgba(255, 251, 37, 0.8), rgba(238, 135, 18, 0.8));
}

.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}


/*------------------------------------------------------------------
[  ]*/

.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  font-family: 'Abel', sans-serif;
  font-size: 42px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}

/*------------------------------------------------------------------
[  ]*/

/*THE LINES FOR THE FORM*/
.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

/*THE SPACE FOR THE MESSAGE*/
.input2 {
  display: block;
  width: 100%;

  font-family: 'Abel', sans-serif;
  font-size: 20px;
  color: #555555;
  line-height: 1.2;
}

.input2 [type="text"]{
  color: grey;
}
/*THE SPACE FOR THE MESSAGE*/
.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: black
}

/*THE coloured lines for the messages before typing*/
.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: rgb(235, 136, 8);
  background: -webkit-linear-gradient(45deg, #e0c737, #f0d541);
  background: -o-linear-gradient(45deg, #aa7e05, #c06d0f);
  background: -moz-linear-gradient(45deg, #d4c750, #f1d452);
  background: linear-gradient(45deg, #d57200, #e5cb35);
}

/*THE coloured lines for the messages AFTER typing*/
.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: 'Abel',sans-serif;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}



/*---------------------------------------------*/
/*THE space between the name, email adn message and the line*/
input.input2 {
  height: 60px;
}


input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

/*THE message*/
textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}
/*THE message*/
textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}
/*THE message slide when you want to type*/
.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/

/*THE button*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;

}

/*THE button styke- */
.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 150px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: rgb(223, 185, 20);
  background: -webkit-linear-gradient(-135deg);
  background: -o-linear-gradient(-135deg, #f78d47, #f0b026, #df9a1b, #e5a735d5);
  background: -moz-linear-gradient(-135deg, #e0ba0c, #e9d66d, #e7a146b2, #e6b929);
  background: linear-gradient(-135deg);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

  font-family: 'Abel', sans-serif;
  font-size: 19px;
  color: #fff;
  line-height: 1.2;
}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}
/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}

/*-----------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: 'Abel',sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}